body {
  background-color: #212529;
  background: linear-gradient(
      to bottom,
      rgba(255, 2, 2, 0) 0%,
      rgba(11, 1, 36, 1) 38%
    ),
    url(/assets/WWposter1alternativo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}
main {
  padding: 6px;
}
.navbar {
  position: fixed;
  z-index: 4;
  top: 0;
  width: 100%;
  box-shadow: 0px 3px 3px 0px #36b2f07d;
}

p {
  text-shadow: 1px 1px 2px black;
}

h4 {
  color: #fff;
  text-shadow: 1px 1px 2px black;
  padding: 5px;
}
.todo-texto {
  background-color: #212529ab;
  font-weight: 600;
  border-radius: 5px 5px;
  padding: 10px;
}

.tarjeta-principal {
  margin-top: 76px;
  z-index: 2;
}

.capa {
  position: relative;
}

.card-img-overlay {
  position: relative;
  margin-top: 100px;
}

.card-title,
.card-text,
.card-video {
  z-index: 2;
  color: #fff;
  text-shadow: 1px 1px 2px black;
}

.card-title {
  margin: 0;
}

.card-text {
  text-align: justify;
}

.card-img {
  border-radius: 0;
  z-index: -2;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3%;
}

video {
  width: 100%;
  height: 50vw;
  margin: 0;
  margin-top: 10px;
  z-index: 1;
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.miniposter-img {
  width: 200px;
  height: auto;
  margin-left: 0px;
  margin-bottom: 4px;
}

.todo-texto {
  margin-left: none;
}

.card {
  padding: 0px;
  background-color: rgb(56, 59, 71);
  margin-bottom: 15px;
  position: relative;
}

.tarjetas-con-miniaturas {
  display: flex;
  justify-content: space-evenly;
}

.elegir-capitulo {
  margin-top: 30px;
}

.btn-primary {
  background-color: #212529;
  border-color: rgb(47, 59, 105);
  border-width: 2px;
}

.btn-primary:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.series-sugeridas {
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .poster-con-descripcion {
    flex-direction: column;
  }
  .miniposter-img {
    margin: 0 auto;
    display: block;
  }
  .todo-texto {
    margin-top: 5px;
  }
}

@media screen and (min-width: 768px) {
  .todo-texto {
    margin-left: 1rem;
  }
}

@media (max-width: 992.98px) {
  .tarjeta-principal {
    z-index: 2;
  }
}

@media (min-width: 992px) and (max-width: 1400px) {
  #decimo-episodio,
  #cuarta-miniatura-sugerida {
    display: none;
  }
}

@media (max-width: 991px) {
  #tarjetita,
  #decimo-episodio {
    width: 10rem !important;
    height: 13rem;
  }
  #tarjetita-serie-sugerida,
  #cuarta-miniatura-sugerida {
    width: 10rem !important;
  }
  .btn {
    font-size: small;
  }
}

@media (min-width: 514px) and (max-width: 767.9px) {
  #decimo-episodio,
  #cuarta-miniatura-sugerida {
    display: none;
  }
}

@media (max-width: 354px) {
  .series-sugeridas {
    display: none;
  }
}
